h1{
    color:red;

}

.p{
    color: blue;
    text-align: right;
}
.img{
    height:500px;
    width:900px;
}
.img2{
    width:auto;
}
button{
    background-color: red;
    color:white;
    border:none;
    height:36px;
    width:150px;
    border-radius: 2px;
    cursor: pointer;
    margin-right:8px
}
.button:hover{
    background-color:blue;
}
.contact:active{
    background-color: rgb(0, 255, 255);
}
.contact{
    background-color: white;
    border-color:rgb(13, 0, 255);
    border-style:solid;
    border-width:1px;
    color:blue;
    height:36px;
    width:100px;
    border-radius:2px;
    cursor:pointer;
    margin-right:8px;
}

.FB{
    background-color:rgba(21, 104, 192, 0.938);
    color:white;
    border:none;
    height:36px;
    width:85px;
    border-radius:18px;
    font-weight:bold;
    font-size:15px;
    cursor: pointer;
}
.mar{
    background-color: aqua;
    font-size:50px;
    font-weight:bold;
    padding:30px

}
